body {
    margin: 0 auto;
    background-color: aqua;
    padding: 5px;
}
.container {
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    box-sizing: border-box;
    flex-direction: column;
    gap: 20px;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    background-color: rgb(62, 179, 242);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(14, 9, 9);
}

.form {
    gap: clamp(20px, 2.5vw, 30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        width: fit-content;
        padding: 10px;
        background-color: aqua;
        border: none;
        font-size: 16px;
        border-radius: 20px;
        box-shadow: 0 3px 1px rgb(14, 9, 9);
    }
    input {
        font-size: clamp(20px, 2.5vw, 30px);
        text-align: center;
        border: 1px solid rgb(32, 244, 141);
        border-radius: 10px;
        box-shadow: inset 5px 5px 5px rgb(14, 9, 9);
        background: aqua;
        &:focus {
            outline: none;
        }
    }
}
.show__block {
    width: 100px;
    height: 100px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 20px;
    background-color: aqua;
    box-shadow: inset 5px 5px 5px rgb(14, 9, 9);
}
